body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

p {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.1rem;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: rgb(30, 32, 172);
}

hr.light {
  border-color: #fff;
}

a {
  color: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: rgb(83, 178, 255) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: rgb(43, 68, 207) !important; 
  /* rgb(30, 52, 172) */
}

.bg-dark {
  background-color: #212529 !important;
}

.bg-white {
  height: 20px;
  background-color: #fff;
}

.bg-grey {
  background-color: lightgrey;
}

.triangledownblue{
  height: 0px;
  width: 0px;
  border-top: solid 30px rgb(43, 68, 207);
  border-left: solid 70px transparent;
  border-right: solid 70px transparent;
  margin-left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.triangledownwhite{
  height: 0px;
  width: 0px;
  border-top: solid 30px #fff;
  border-left: solid 70px transparent;
  border-right: solid 70px transparent;
  margin-left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.triangledowngrey{
  height: 0px;
  width: 0px;
  border-top: solid 30px rgb(223, 223, 223);
  border-left: solid 70px transparent;
  border-right: solid 70px transparent;
  margin-left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.triangleupblueproject {
  height: 0px;
  width: 0px;
  border-bottom: solid 30px rgb(43, 68, 207);
  border-left: solid 73px transparent;
  border-right: solid 73px transparent;
  margin-left: 50%;
  transform: translateX(-50%) translateY(100px);
  position: absolute;
}
.p1 {
  margin-left: 20%;
  transform: translateX(-50%) translateY(100px);
  position: absolute;
}
.p2 {
  margin-left: 50%;
  transform: translateX(-50%) translateY(100px);
  position: absolute;
}
.p3 {
  margin-left: 80%;
  transform: translateX(-50%) translateY(100px);
  position: absolute;
}
@media (max-width: 991px) {
  .p1 {
    margin-left: 30%;
    transform: translateX(-50%) translateY(100px);
    position: absolute;
  }
  .p2 {
    margin-left: 70%;
    transform: translateX(-50%) translateY(100px);
    position: absolute;
  }
  .p3 {
    margin-left: 30%;
    transform: translateX(-50%) translateY(100px);
    position: absolute;
  }
}
@media (max-width: 767px) {
  .p1 {
    margin-left: 50%;
    transform: translateX(-50%) translateY(100px);
    position: absolute;
  }
  .p2 {
    margin-left: 50%;
    transform: translateX(-50%) translateY(100px);
    position: absolute;
  }
  .p3 {
    margin-left: 50%;
    transform: translateX(-50%) translateY(100px);
    position: absolute;
  }
}


.text-faded {
  color: rgba(255, 255, 255, 0.75);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(43, 68, 207);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: rgb(43, 68, 207);
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: rgb(43, 68, 207);
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: rgb(43, 68, 207) !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}
#mainNav .navbar-nav > li.nav-item > div.dropdown-menu {
  background-color: transparent;
  border-color: transparent;
}


@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: rgb(43, 68, 207);
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: rgb(43, 68, 207);
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: rgb(46, 132, 243);
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > div.dropdown-menu {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    border-left: 1px solid rgba(33, 37, 41, 0.1);
    border-right: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  /* For Mobile Version */
  #mainNav .navbar-nav > li.nav-item > div.nav-item > a.dropdown-item,
  #mainNav .navbar-nav > li.nav-item > div.nav-item > a.dropdown-item:focus {
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > div.nav-item > a.dropdown-item:hover,
  #mainNav .navbar-nav > li.nav-item > div.nav-item > a.dropdown-item:focus:hover {
    font-size: .8rem;
    font-weight: 700;
    background-color: transparent;
    color: #fff;
  }
  /* Normal */
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > div.nav-item > a.dropdown-item,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > div.nav-item > a.dropdown-item:focus {
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > div.nav-item > a.dropdown-item:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > div.nav-item > a.dropdown-item:focus:hover {
    font-size: .8rem;
    font-weight: 700;
    color: #212529;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/desktop-1155613_1920 edited3.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.projectimg {
  padding: 5px;
  border-radius: 25%;
}

.projectimg > img:hover,
.projectimg > img:focus {
  padding: 9px;
  /* padding: 0px;
  border: 5px solid rgb(236, 210, 57); */
  
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgb(43, 68, 207);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption,
.portfolio-box:active .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    font-size: 16px;
  }
}

@media (min-width: 576px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category .project-name {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category .project-name {
    font-size: 12px;
  }
}

@media (max-width: 470px) {
  .portfolio-box-caption-content {
    font-size: 10px;
  }
  .portfolio-box-caption-content .project-category .project-name {
    font-size: 7px;
  }
}

@media (max-width: 420px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    font-size: 7px;
  }
  .project-category .project-name {
    font-size: 7px;
  }
}

@media (max-width: 400px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    font-size: 5px;
  }
  .project-category .project-name {
    font-size: 4px;
  }
}

.text-primary {
  color: rgb(43, 68, 207) !important;
  /* rgb(50, 52, 172) */
}

.btn {
  font-weight: 700; 
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: rgb(43, 68, 207);
  border-color: #F05F40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: rgb(46, 132, 243) !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.checked {
  color: rgb(46, 132, 243);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.dropdown-toggle::after {
  vertical-align: .255em;
  content: "";
  border-top: .4em solid;
  border-right: .4em solid transparent;
  border-bottom: 0;
  border-left: .4em solid transparent;
}

/* TABS FOR PROJECT */

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
  /* width: 33.333333333%; */
  /* border-top-left-radius: 25px;
  border-top-right-radius: 25px; */
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 0px 20px;
  margin-top: 100px;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

#Corgant {background-color: white;}
#News {background-color: green;}
#Contact {background-color: blue;}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}

}

